<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>creat two new component (manually or with CLI): WarningAlert and successAlert</li>
        <li>Output them beneath each other in the AppComponent</li>
        <li>Output a Warning or succses message in the Component</li>
        <li>style the Component appropriately (maybe some red/green text?)</li>
      </ol>
      <p>use external or internal templates and styles!</p>
      <p>feel free to create more components , nest  th into each other or play around with
        different types of selectors!</p>
      <hr>
      <app-warning-alert></app-warning-alert>
      <app-succses-alert></app-succses-alert>
      <app-server></app-server>


    </div>
  </div>
</div>
