<app-server></app-server>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>add a input field wich updates a property ('username') via two-way-binding !</li>
        <li>output th username property via string interpolation (in a paragraph below the input</li>
        <li>add a button which may only be clicked if th username  is Not an empty string </li>
        <li>upon clicking th button , the username should be reset to an empty string</li>
      </ol>
      <hr>
      <label>Username</label>
      <input type="text" class="form-control" [(ngModel)]="userHero">
      <button class="btn btn-danger"
              [disabled]="userHero === ''"
              (click)="userHero = ''"
              >reset User</button>
    </div>
  </div>
</div>
